h2 {
    margin: 10px 0px;
}

li {
    padding: 10px 8px;
}

li:nth-child(odd) {
    background-color: #eee;
}

h3 {
   display: flex;
   flex-direction: row;
   align-items: center; 
}
.remove-btn {
    background-color: #FF0000;
    border-radius: 3px;
    border:none;
    margin: 5px;
    cursor: pointer;
    margin-left: auto;
}
.remove-btn:hover {
    background-color: #ff6666;
}